body {
    line-height: 22px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

#tbars {
    background-color: #333;
    height: 35px;
    margin: -9px auto 0px -10px;
}
.tbars1 {
    position: relative;
    max-width: 1308px; 
}
.apps {
    padding: 5px 0px 0px 20px;
}
.apps .app1{
    color: #08d7a2;
    background: url(https://static.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_0495d1d.png) 10px 0 no-repeat;
    padding: 0 12px 0 27px
}
.apps .app2 {
    border-left: 1px solid #5d5d5d;
    color: #c4c3c3;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
a {
    text-decoration:none;
    background-color: transparent;
    color: #555;
    cursor: auto;
}
.denglu {
    float: right;
}
.tbars1 ul {
    margin: -25px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: block;

}
.denglu li {
    position: relative;
    float: left;
    height: 30px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.denglu a {
    color: #c4c3c3;
    float: left;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
.bb,.zhuce {
    border-left: 1px solid #5d5d5d;
}
.daohang {
    height: 54px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.inners {
    width: 1200px;
    margin: 0 auto;   
}
/* .daohang .lagou {
    width: 260px;
    text-align: center;
} */
.tabs {
    clear: both;
    text-align: center;
}
.inners ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.daohang .inners .tabs li a {
    display: block;
    font-size: 18px;
    color: #999;
    line-height: 53px;
    padding: 0 5px;
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
}
.daohang .inners .tabs li {
    display: inline-block;
    margin: -15px 16px 0px 16px;
    position: relative;
    text-align: -webkit-match-parent;
}
.daohang .inners .tabs .index {
    color: #333;
}
.tabs li a:hover {
    border-bottom: 2px solid #00b38a;
}
.person {
    width: 1024px;
    margin: 35px auto 0;
    padding-bottom: 80px;
    /* background: #5d5d5d; */
}
.person .my_per {
    float: left;
    width: 702px;
    margin-bottom: 20px;
}
.person .my_per .my_per_1 {
    position: relative;
    margin-bottom: 0;
}
.my_per_1 .my_img {
    position: relative;
    height: 135px;
    background: #fafafa url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/tou_c3707c7.png) center top no-repeat;
    z-index: 2;
}
.my_per_1 .my_img img {
    position: absolute;
    left: 287px;
    top: 39px;
    width: 129px;
    height: 129px;
    border: 0;
}
.my_img .mr_headimg {
    background-color: #fafafa;
    border: 10px solid #e5e5e5;
    border-radius: 75px;
}
.my_img .opa {
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
}
.my_img .shadow {
    display: none;
    left: 293px;
    top: 45px;
    width: 116px;
    height: 116px;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.my_per_1 .my_baseinfo {
    position: relative;
    min-height: 118px;
    padding: 56px 0 10px!important;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.mr_left_bg {
    position: absolute;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/top_bg_3c61ee8.png) no-repeat;
    width: 12px;
    height: 34px;
    top: 76px;
    left: -1px;
    background-position: 0 0;
}
.mr_right_bg {
    position: absolute;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/top_bg_3c61ee8.png) no-repeat;
    width: 12px;
    height: 34px;
    top: 76px;
    right: -2px;
    background-position: -40px 0;
}
em, i {
    font-style: normal;
}
.my_qcon {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    right: 52px;
    top: 0;
    width: 48px;
    height: 50px;
    background: #f2f2f2 url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/qr_bg_9ac44b7.png) 10px 10px no-repeat;
}
.my_name_p {
    width: 604px;
    margin: 0 auto;
    height: 40px;
    line-height: 38px;
    margin-bottom: 8px!important;
}
.my_edit {
    float: right;
    margin-right: 12px;
    cursor: pointer;
    height: 34px;
}
.my_edit i {
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 7px
}
.my_edit em {
    font-size: 16px;
    color: #00b38a;
}
.my_edit * {
    vertical-align: middle;
}
.bt {
    display: none;
}
.my_name_p:hover .my_edit{
    display: block;
}
.my_names {
    display: block;
    height: 40px;
    width: 468px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.my_info_job {
    line-height: 32px;
    margin-bottom: 8px;
    min-height: 34px;
    width: 604px;
    margin: 0 auto;
}
.my_info_job .my_edit {
    height: 34px;
}
.myjobinfo {
    font-size: 16px;
    width: 468px;
    line-height: 34px;
    display: block;
    color: #333;
    text-align: center;
    margin: 0 auto;
}
.clearfixs:before, clearfixs:after {
    content: "";
    display: table;
}
.clearfixs:after {
    display: block;
    content: '';
    clear: both;
}
.my_info_job:hover .my_edit {
    display: block;
}
.mypersoninfo {
    display: block;
    margin-bottom: 0;
    position: relative;
    color: #666;
    padding: 5px 0 7px;
    width: 604px;
    margin: 0 auto;
}
.mypersoninfo .div1 {
    text-align: center;
    margin-bottom: 8px;
}
.mypersoninfo .info_j {
    text-align: center;
    margin-bottom: 8px;
}
.mypersoninfo .base_info i {
    width: 13px;
    height: 13px;
    background-position: -111px -70px;
}
.mypersoninfo  i {
    display: inline-block;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}
.mypersoninfo .base_info em {
    margin-right: 6px;
    height: 24px;
}
.mypersoninfo em {
    vertical-align: middle;
}
em.a {
    position: relative;
}
.mypersoninfo .mr0 {
    margin: 0;
    display: inline-block;
    max-width: 74px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* .info_j:hover .my_edit {
    display: block;
} */
.mypersoninfo .info_b {
    text-align: center;
}
.mypersoninfo .mobile {
    margin-right: 18px;
}
.mypersoninfo .mobile i {
    width: 12px;
    height: 14px;
    background-position: -131px -70px;
}
.mypersoninfo i {
    display: inline-block;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}
.mypersoninfo .email i {
    width: 14px;
    height: 10px;
    background-position: -150px -73px;
}
.mypersoninfo .email em {
    display: inline-block;
    max-width: 190px;
    overflow: hidden;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.my_per .my_contents {
    padding-top: 26px;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mr_moudle_head {
    margin-bottom: 23px;
    width: 604px;
    margin: 0 auto;
}
.mr_moudle_head .mr_head_l {
    float: left;
}
.mr_title {
    position: relative;
}
.mr_title .mr_title_l {
    width: 230px;
    height: 0;
    border-top: 1px solid #ededed;
}
.mr_title span {
    vertical-align: middle;
    display: inline-block;
}
.mr_title .mr_title_c {
    font-size: 18px;
    padding: 6px 24px;
    text-align: center;
    background-color: #c4c3c3;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    margin: 0 13px;
}
.mr_title .mr_title_r {
    width: 152px;
    height: 0;
    border-top: 1px solid #ededed;
}
.mr_moudle_head .mr_head_r {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}
.mr_moudle_head .mr_head_r i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -5px -69px no-repeat;
    margin-right: 6px;
}
.mr_moudle_head .mr_head_r * {
    vertical-align: middle;
}
.mr_moudle_head .mr_head_r em {
    font-size: 16px;
    color: #00b88d;
}
.mr_moudle_head .mr_head_r * {
    vertical-align: middle;
}
.mr_moudle_content {
    padding-bottom: 0;
    color: #555;
    font-size: 14px;
    width: 604px;
    margin: 0 auto;
}
.mr_moudle_content .list_show {
    padding-bottom: 6px;
}
.mr_jobe_list {
    padding-bottom: 44px;
}
.mr_moudle_content .mr_content_l {
    float: left;
    max-width: 445px;
}
.mr_moudle_content .mr_content_l .l1 {
    float: left;
    margin-right: 10px;
    margin-top: 25px;
}
.mr_moudle_content .mr_content_l .l1 img {
    width: 46px;
    height: 46px;
    border: 2px solid #eee;
}
.dn {
    display: none;
}
.mr_content_l .l2 {
    padding-top: 4px;
}
.mr_moudle_content .mr_content_l .l2 {
    position: relative;
    float: left;
    padding-top: 10px;
    max-width: 380px;
}
.mr_moudle_content .mr_content_l .l2 h4 {
    font-size: 16px;
}
h2, h3, h4, p {
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 10px 0;
    font-weight: 400;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.mr_moudle_content .mr_content_l .l2 span {
    color: #999;
    display: block;
    margin-top: -20px;
}
.mr_moudle_content .mr_content_r {
    float: right;
    text-align: right;
    margin-top: 25px;
}
.mr_c_r_t {
    text-align: right;
    margin: 5px 0 2px;
    float: none;
}
.mr_moudle_content .mr_content_r span {
    color: #999;
}
.mr_moudle_content .mr_content_r span {
    color: #999;
}
.mr_moudle_content .mr_content_r span {
    color: #999;
}
.mr_content_m {
    padding-bottom: 1px;
    padding-top: 4px;
}
p+p {
    margin-top: 10px;
}
#educationalBackground .mr_moudle_content {
    padding-bottom: 5px;
}
#educationalBackground .mb46 {
    margin-bottom: 0;
}
#projectExperience .mr_moudle_content {
    padding-bottom: 18px;
}
#projectExperience .mr_jobe_list {
    padding-bottom: 32px;
}
#projectExperience .l2 {
    margin-top: 20px;
}
#projectExperience .mr_content_m {
    padding-top: 8px;
}
#selfDescription .mr_moudle_content {
    padding-bottom: 48px;
}
.self_des_list {
    margin-top: 20px; 
}
.mr_moudle_content .mr_self_l {
    float: left;
    width: 100px;
    padding-top: 5px;
    position: relative;
    height: 81px;
}
.mr_self_l i {
    position: absolute;
    z-index: 2;
    width: 81px;
    height: 81px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/mr_txs_7b69a3f.png) no-repeat;
}
.mr_self_l img {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 73px;
    height: 73px;
}

.mr_moudle_content .mr_self_r {
    float: left;
    width: 504px;
    color: #555;
    line-height: 26px;
}
#expectJob .mr_moudle_content {
    padding-bottom: 25px;
}
#expectJob .expectjob_list {
    position: relative;
}
.mr_moudle_content .mr_job_info {
    text-align: center;
    padding-left: 28px;
}
#expectJob .expectjob_list .clearfixs li {
    font-size: 16px;
}
.mr_job_info li {
    float: left;
    text-align: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mr_name_li {
    width: 188px;
}
.mr_name_li i {
    width: 9px;
    height: 19px;
    background-position: -97px -220px;
}
.mr_job_info li * {
    vertical-align: middle;
}
.mr_job_info i {
    display: inline-block;
    margin-right: 10px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -97px -220px no-repeat;
}
.mr_job_info li * {
    vertical-align: middle;
}
.mr_jobtype_li {
    width: 128px;
}
.mr_jobtype_li i {
    width: 17px;
    height: 17px;
    background-position: -93px -247px;
}
.mr_city_li {
    width: 124px;
}
.mr_city_li i {
    width: 14px;
    height: 17px;
    background-position: -93px -273px;
}
.mr_jobrange_li {
    width: 100px;
}
.mr_jobrange_li i {
    width: 18px;
    height: 18px;
    background-position: -92px -294px;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mr_myresume_r {
    float: right;
    width: 282px;
}
.mr_r_nav {
    margin-bottom: 18px!important;
}
.mr_r_nav ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}
.mr_r_nav li {
    float: left;
    width: 66px;
    height: 66px;
    margin-right: 3px;
    border: 1px solid #f2f2f2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.mr_r_nav li a {
    position: relative;
    display: block;
    padding-top: 40px;
    height: 26px;
    text-align: center;
    background-color: #fafafa;
}
.mr_r_nav li a .td {
    background-position: 0 -316px;
}
.mr_r_nav li a i {
    position: absolute;
    left: 50%;
    margin-left: -14px;
    top: 12px;
    width: 30px;
    height: 25px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
}
.mr_r_nav li a em.count1 {
    width: 18px;
    background-position: -173px -190px;
}
.mr_r_nav li a em {
    position: absolute;
    left: 44px;
    top: 2px;
    height: 18px;
    line-height: 18px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
    color: #fff;
    font-size: 12px;
}
.mr_r_nav li a:hover{
    color: #00b38a;
}
.mr_r_nav li a i.td:hover {
    background-position: 0 -348px;
}
.mr_r_nav li a .yq {
    background-position: -101px -316px;
}
.mr_r_nav li a i.yq:hover {
    background-position: -101px -348px;
}
.mr_r_nav li a .sc {
    background-position: -35px -316px;
}
.mr_r_nav li a i.sc:hover {
    background-position: -35px -348px;
}
.mr_r_nav .mr_none {
    margin-right: 0;
}
.mr_r_nav li a .dy {
    background-position: -67px -316px;
}
.mr_r_nav li a i.dy:hover {
    background-position: -67px -348px;
}
.mr_upload {
    position: relative;
    height: 57px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 18px!important;
}
.mr_upload i {
    position: absolute;
    top: 22px;
    left: 58px;
    width: 16px;
    height: 15px;
    margin-right: 10px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -64px -70px no-repeat;
}
.mr_upload * {
    vertical-align: middle;
}
.mr_upload a.inline {
    display: block;
    text-align: center;
    line-height: 57px;
}
.mr_upload a {
    cursor: pointer;
}
a:hover {
    color: #00b38a;
}
.mr_module li.active {
    border-color: #00b88d;
    border-width: 2px;
}
.mr_module li {
    height: 50px;
    line-height: 50px;
    border-left: 2px solid transparent;
    margin-left: -1px;
    border-left: 1px solid #e5e5e5;
    padding-left: 6px;
    cursor: pointer;
}
.md_flag {
    position: relative;
}
.mr_module li a {
    display: block;
    height: 100%;
    color: #333;
}
.mr_module li.active .mr_base_i {
    background-position: -5px -117px;
}
.mr_module li.active i {
    margin-left: 28px;
}
.mr_module li i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(https://static.lagou.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) no-repeat;
    margin: 0 24px 0 29px;
}
.mr_module li.active .mr_m_name {
    color: #00b88d;
}
.mr_module li a * {
    vertical-align: middle;
}
.mr_module li .mr_works_i {
    background-position: -24px -137px;
}
.mr_module li .mr_works_i:hover {
    background-position: -5px -137px;
}
.mr_module li .mr_edu_i {
    background-position: -24px -156px;
}
.mr_module li .mr_edu_i:hover {
    background-position: -5px -156px;
}
.mr_module li.m_hide .mr_project_i {
    background-position: -67px -177px;
}
.mr_module li.m_hide .mr_project_i:hover {
    background-position: -5px -177px;
}
.mr_module li.m_hide .mr_production_i {
    background-position: -67px -198px;
}
.mr_module li.m_hide .mr_self_i {
    background-position: -67px -219px;
}
.mr_module li.m_hide .mr_self_i:hover {
    background-position: -5px -219px;
}
.mr_module li .mr_hopework_i {
    background-position: -67px -240px;
}
.mr_module li .mr_hopework_i:hover {
    background-position: -5px -240px;
}
.mr_module li.m_hide .mr_skill_i {
    background-position: -67px -262px;
}
.mr_module li .mr_addmd_i {
    background-position: -24px -177px;
}
.mr_module li .mr_addmd_i:hover {
    background-position: -24px -197px;
}
.mr_module li a:hover {
    color: #00b38a;
}

