body {
    line-height: 22px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

#tbars {
    background-color: #333;
    height: 35px;
    margin: -9px auto 0px -10px;
}
.tbars1 {
    position: relative;
    max-width: 1308px; 
}
.apps {
    padding: 5px 0px 0px 20px;
}
.apps .app1{
    color: #08d7a2;
    background: url(https://static.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_0495d1d.png) 10px 0 no-repeat;
    padding: 0 12px 0 27px
}
.apps .app2 {
    border-left: 1px solid #5d5d5d;
    color: #c4c3c3;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
a {
    text-decoration:none;
    background-color: transparent;
    color: #555;
    cursor: auto;
}
.denglu {
    float: right;
}
.tbars1 ul {
    margin: -25px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: block;

}
.denglu li {
    position: relative;
    float: left;
    height: 30px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.denglu a {
    color: #c4c3c3;
    float: left;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
.bb,.zhuce {
    border-left: 1px solid #5d5d5d;
}
.daohang {
    height: 54px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.inners {
    width: 1200px;
    margin: 0 auto;   
}
/* .daohang .lagou {
    width: 260px;
    text-align: center;
} */
.tabs {
    clear: both;
    text-align: center;
}
.inners ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.daohang .inners .tabs li a {
    display: block;
    font-size: 18px;
    color: #999;
    line-height: 53px;
    padding: 0 5px;
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
}
.daohang .inners .tabs li {
    display: inline-block;
    margin: -15px 16px 0px 16px;
    position: relative;
    text-align: -webkit-match-parent;
}
.daohang .inners .tabs .index {
    color: #333;
}
.tabs li a:hover {
    border-bottom: 2px solid #00b38a;
}
.person {
    width: 1024px;
    margin: 35px auto 0;
    padding-bottom: 80px;
    /* background: #5d5d5d; */
}
.person .my_per {
    float: left;
    width: 702px;
    margin-bottom: 20px;
}
.person .my_per .my_per_1 {
    position: relative;
    margin-bottom: 0;
}
.my_per_1 .my_img {
    position: relative;
    height: 135px;
    background: #fafafa url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/tou_c3707c7.png) center top no-repeat;
    z-index: 2;
}
.my_per_1 .my_img img {
    position: absolute;
    left: 287px;
    top: 39px;
    width: 129px;
    height: 129px;
    border: 0;
}
.my_img .mr_headimg {
    background-color: #fafafa;
    border: 10px solid #e5e5e5;
    border-radius: 75px;
}
.my_img .opa {
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
}
.my_img .shadow {
    display: none;
    left: 293px;
    top: 45px;
    width: 116px;
    height: 116px;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.my_per_1 .my_baseinfo {
    position: relative;
    min-height: 118px;
    padding: 56px 0 10px!important;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.mr_left_bg {
    position: absolute;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/top_bg_3c61ee8.png) no-repeat;
    width: 12px;
    height: 34px;
    top: 76px;
    left: -1px;
    background-position: 0 0;
}
.mr_right_bg {
    position: absolute;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/top_bg_3c61ee8.png) no-repeat;
    width: 12px;
    height: 34px;
    top: 76px;
    right: -2px;
    background-position: -40px 0;
}
em, i {
    font-style: normal;
}
.my_qcon {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    right: 52px;
    top: 0;
    width: 48px;
    height: 50px;
    background: #f2f2f2 url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/qr_bg_9ac44b7.png) 10px 10px no-repeat;
}
.my_name_p {
    width: 604px;
    margin: 0 auto;
    height: 40px;
    line-height: 38px;
    margin-bottom: 8px!important;
}
.my_edit {
    float: right;
    margin-right: 12px;
    cursor: pointer;
    height: 34px;
}
.my_edit i {
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 7px
}
.my_edit em {
    font-size: 16px;
    color: #00b38a;
}
.bt {
    display: none;
}
.my_name_p:hover .my_edit{
    display: block;
}
.my_names {
    display: block;
    height: 40px;
    width: 468px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.my_info_job {
    line-height: 32px;
    margin-bottom: 8px;
    min-height: 34px;
    width: 604px;
    margin: 0 auto;
}
.my_info_job .my_edit {
    height: 34px;
}
.myjobinfo {
    font-size: 16px;
    width: 468px;
    line-height: 34px;
    display: block;
    color: #333;
    text-align: center;
    margin: 0 auto;
}
.clearfixs:before, clearfixs:after {
    content: "";
    display: table;
}
.clearfixs:after {
    display: block;
    content: '';
    clear: both;
}
.my_info_job:hover .my_edit {
    display: block;
}
.mypersoninfo {
    display: block;
    margin-bottom: 0;
    position: relative;
    color: #666;
    padding: 5px 0 7px;
    width: 604px;
    margin: 0 auto;
}
.mypersoninfo .div1 {
    text-align: center;
    margin-bottom: 8px;
}
.mypersoninfo .info_j {
    text-align: center;
    margin-bottom: 8px;
}
.mypersoninfo .base_info i {
    width: 13px;
    height: 13px;
    background-position: -111px -70px;
}
.mypersoninfo  i {
    display: inline-block;
    background: url(https://www.lgstatic.com/www/static/mycenter/modules/common/img/icons_mr_0ef4596.png) -53px -6px no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}
.mypersoninfo .base_info em {
    margin-right: 6px;
    height: 24px;
}
.mypersoninfo em {
    vertical-align: middle;
}
em.a {
    position: relative;
}
.mypersoninfo .mr0 {
    margin: 0;
    display: inline-block;
    max-width: 74px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info_j:hover .my_edit {
    display: block;
}