body {
    line-height: 22px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
/* ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
} */
#tbars {
    background-color: #333;
    height: 35px;
    margin: -9px auto 0px -10px;
}
.tbars1 {
    position: relative;
    max-width: 1308px; 
}
.apps {
    padding: 5px 0px 0px 20px;
}
.apps .app1{
    color: #08d7a2;
    background: url(https://static.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_0495d1d.png) 10px 0 no-repeat;
    padding: 0 12px 0 27px
}
.apps .app2 {
    border-left: 1px solid #5d5d5d;
    color: #c4c3c3;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
a {
    text-decoration:none;
    background-color: transparent;
    color: #555;
    cursor: auto;
}
.denglu {
    float: right;
}
.tbars1 ul {
    margin: -25px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: block;

}
.denglu li {
    position: relative;
    float: left;
    height: 30px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.denglu a {
    color: #c4c3c3;
    float: left;
    line-height: 15px;
    padding: 0 12px;
    margin: 7px 0 0;
}
.zhuce {
    border-left: 1px solid #5d5d5d;
}
.daohang {
    height: 54px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.inners {
    width: 1200px;
    margin: 0 auto;   
}
.tabs {
    clear: both;
    text-align: center;
}
.inners ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.daohang .inners .tabs li a {
    display: block;
    font-size: 18px;
    color: #999;
    line-height: 53px;
    padding: 0 5px;
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
}
.daohang .inners .tabs li {
    display: inline-block;
    margin: -15px 16px 0px 16px;
    position: relative;
    text-align: -webkit-match-parent;
}
.tabs li a:hover {
    border-bottom: 2px solid #00b38a;
}
/*搜索栏*/
.searchs {
    height: 190px;
    background: #f2f5f4;
    margin: 0 auto 35px;
    font-size: 16px;
    line-height: 16px;
}
.searchs .searchlan {
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
}
.searchs .searchlan .search1{
    margin-bottom: 13px;
}
.searchs .searchlan .search1 a {
    display: inline-block;
    margin-right: 7px;
    padding: 7px 10px;
    border-radius: 2px;
    background-clip: padding-box;
}
.searchs .searchlan .search1 .jobs {
    background-color: #00b38a;
    color: #fafafa;
}
.searchs .searchlan .search1 .companys {
    color: #999;
}
form.searchinput {
    display: block;
    
}
.searchinput .search_input {
    display: inline-block;
    padding: 12px 15px;
    width: 791px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #E8E8E8;
    border-right: 0;
}
.search2  input[type=text]:focus {
    border-color: #00b38a;
}
.search2 .search_button {
    width: 142px;
    height: 46px;
    font-size: 16px;
    color: #FFF;
    border: 0;
    background: #00b38a;
    text-align: center;
    position: relative;
    top: 2px;
    left: -5px;
}
.search2 .search_button:hover {
    background: #00a57f;;
}
.hot_search {
    width: 932px;
    height: 22px;
    /* overflow: hidden;
    margin: 6px auto 0; */
    display: block;

}
.hot_search dt {
    margin-right: -25px;
    margin-top: -7px;
    font-size: 14px;
    color: #777;
    float: left;
    display: block;
    line-height: 22px;
}
.hot_search dd {
    margin-right: -15px;
    margin-top: -7px;
    color: #999;
    float: left;
    display: block;
    -webkit-margin-start: 40px;
    line-height: 22px;
    font-size: 14px;    
}
.hot_words {
    color: #999;
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
}
.hot_words:hover {
    color: #00b38a;
}
.main_contents {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
    /* background: #d2d2d2; */
}
.main_contents .main_left {
    width: 960px;
    float: left;
    /* background: #999; */
    height: 500px;
}
.main_contents .main_left .filterTab {
    margin-bottom: 20px;
}
.main_contents .main_left .filterTab .filterTabs {
    position: relative;
    background: #fafafa;
    border: 1px solid #ededed;
    min-height: 36px;
    padding: 10px 0px 10px 35px;
}
.filterTabs .filterTabs_1 {
    position: relative;
    overflow: visible;
    /* width: 900px;
    height: 100px;
    background: #999; */
    left: -40px;
}
.filterTabs li {
    padding: 6px 16px;
    zoom: 1;
    color: #555;
}
li {
    display: list-item;
    list-style: none;
}
.filterTabs .filterTabs_li span {
    font-weight: 600;
    margin-right: -5px;
    float: left;
    padding: 5px 8px;
    height: 14px;
    line-height: 14px;
}
.filterTabs .filterTabs_li .country {
    background: #FFF;
    color: #555;
    font-size: 14px;
    border: 1px solid #E8E8E8;
}
.filterTabs .filterTabs_li .active {
    background: #00b38a;
    color: #FFF;
    font-size: 14px;
}
.filterTabs .filterTabs_1 .filterTabs_li a {
    margin-right: 5px;
    padding: 5px 8px;
    height: 14px;
    line-height: 16px;
}
.filterTabs .filterTabs_li a:hover {
    background: #00b38a;
    color: #FFF;
}
.filterTabs .filterTabs_li .more_r {
    position: relative;
    float: right;
    z-index: 15;
    font-weight: 400;
    left: -10px;
}
.filterTabs .filterTabs_li .more_r i {
    position: absolute;
    top: 10px;
    right: -9px;
    font-size: 0;
    height: 0;
    width: 0;
    border-width: 6px 6px 0;
    border-style: solid dashed;
    border-color: #00b38a transparent transparent;
    overflow: hidden;
    transition: all .4s ease 0s;
}
.filterTabs .filterTabs_li .more_r:hover i {
    transform: rotate(180deg);
    animation-fill-mode: forwards;
}
.filterTab .pickerTabs {
    position: relative;
    margin-top: -15px;
    text-align: center;
}
.filterTab .pickerTabs .picker_a {
    display: block;
    margin: 0 auto;
    height: 15px;
    width: 36px;
    border: 1px solid #ededed;
    border-top-color: #fafafa;
    background: #fafafa url(https://static.lagou.com/www/static/search-result/modules/filter/img/arrow_up_b7a7618.png) center no-repeat;
}
.filterTabs_2 {
    position: relative;
    margin-top: 9px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    height: 38px;
}
.filterTabs_2 .order_li {
    zoom: 1;
    color: #555;
    font-size: 14px;
}
.filterTabs_2 .order_li .order {
    margin-right: 35px;
    position: relative;
    left: -18px;
}
.filterTabs_2 .order_li .item {
    float: left;
    line-height: 23px;
}
.filterTabs_2 .order_li .order .title {
    margin-right: -5px;
}
.filterTabs_2 .order_li .item span {
    font-weight: 600;
    padding: 13px 8px 5px 0;
    height: 14px;
    line-height: 14px;
    float: left;
} 
.filterTabs_2 .order_li div a {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px 8px 6px 8px;
    height: 14px;
    line-height: 14px;
}
.filterTabs_2 .order_li div .active {
    background: #00b38a;
    color: #FFF;
}
.filterTabs_2 .order_li .order a:hover {
    background: #00b38a;
    color: #FFF;
}
.filterTabs_2 .order_li  .salary {
    min-width: 140px;
    position: relative;
    margin-right: 40px;
    z-index: 1;
}
.filterTabs_2 .order_li .salary .buxian {
    color: #999;
    display: inline-block;
    border: 1px solid #f3f3f3;
    min-width: 40px;
}
/* .filterTabs_2 .order_li div .salary .select_list {
    position: relative;
    float: right;
    padding: 0 10px 0 5px;
    width: 70px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    cursor: default;
}
.filterTabs_2 .order_li  .salary .select_list i {
    position: absolute;
    top: 18px;
    right: 5px;
    font-size: 0;
    height: 0;
    width: 0;
    border-width: 6px 6px 0;
    border-style: solid dashed;
    border-color: #9b9b9b transparent transparent;
    overflow: hidden;
    transition: all .4s ease 0s;
}
.filterTabs_2 .order_li .salary .select_list ul {
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    display: none;
    border: 1px solid #f3f3f3;
}
.filterTabs_2 .order_li  .salary .select_list ul li a {
    display: block;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
} */
.filterTabs_2 .order_li .type {
    min-width: 160px;
    position: relative;
    margin-right: 40px;
    z-index: 1;
}
.filterTabs_2 .order_li .type .buxian {
    color: #999;
    display: inline-block;
    border: 1px solid #f3f3f3;
    min-width: 40px;
}
.filterTabs_2 .order_li .list_num {
    float: right;
    width: auto;
    border-left: 1px solid #ededed; 
}
.filterTabs_2 .order_li .list_num .list_num_1 {
    color: #c4c3c3;
}
.filterTabs_2 .order_li .list_num .list_num_2 {
    color: #00b38a;
    font-weight: 400;
}
.filterTabs_2 .order_li .list_num .list_num_3 {
    font-weight: 300;
}
.filterTab::after {
    clear: both;
}
.main_left .jobs_list_div .job_list_ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.jobs_list_div .job_list_ul .job_list_li {
    position: relative;
    color: #555;
    border: 1px solid #ededed;
    margin-top: 18px;
    height: 124px;
}
.jobs_list_div .job_list_ul .job_list_li .job_list_top{
    width: 928px;
    height: 68px;
    padding: 14px 15px 0;
}
.jobs_list_div .job_list_ul .job_list_li .job_list_top .job_list_l{
    float: left;
    width: 528px;
    margin-right: 20px;
}
.job_list_top .job_list_l .jobs_t {
    height: 34px;
    line-height: 34px;
}
.job_list_top .job_list_l .jobs_t h3{
    float: left;
    margin: 0;
    color: #00b38a;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 272px;
}
h1, h2, h3, h4 {
    margin: 10px 0;
    font-weight: 400;
}
h3 {
    display: block;
}
.job_list_top .job_list_l .jobs_t .address{
    color: #00b38a;
    font-size: 16px;
}
.job_list_top .job_list_l .jobs_t span{
    float: left;
    margin: 0 3px;
}
em, i {
    font-style: normal;
}
.job_list_top .job_list_l .jobs_t .times {
    float: left;
    color: #999;
    margin: 0 3px;
}
.chat_me {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    background: url(https://www.lgstatic.com/www/static/search-result/modules/positions/img/icon-chat_4a70ffc.png) no-repeat 0 0;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 3px;
}
.jobs_list_div .job_list_top .job_list_l .jobs_b {
    height: 24px;
    line-height: 24px;
}
.jobs_list_div .job_list_top .job_list_l .jobs_b .job_b_money {
    font-size: 14px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.job_b_money .money {
    color: #fd5f39;
    margin-right: 16px;
    font-size: 16px;
}
.jobs_list_div .job_list_top .job_list_cen {
    float: left;
    width: 303px;
    margin-right: 15px;
}
.jobs_list_div .job_list_top .job_list_cen .companys{
    height: 34px;
    line-height: 34px; 
}
.jobs_list_div .job_list_top .job_list_cen .companys a{
    color: #00b38a;
    font-size: 16px;
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
}
.jobs_list_div .job_list_top .job_list_cen .companys .company_lo {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-left: .5em;
    background: url(https://www.lgstatic.com/www/static/search-result/modules/positions/img/approve_aae725a.png) no-repeat 0 0;
    vertical-align: middle;
    cursor: pointer;
}
.jobs_list_div .job_list_top .job_list_cen .companys .company_lo span {
    display: none;
    position: absolute;
    top: 26px;
    left: -15px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 24px;
    color: #777;
    white-space: nowrap;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background: #fff;
    box-shadow: 4px 4px 4px #f2f2f2;
}
.jobs_list_div .job_list_top .job_list_cen .companys i:hover span {
    display: block;
}
.jobs_list_div .job_list_top .job_list_cen .lingyu {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}